[Unit]
Description=Frontend Service-4
Author=Me
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill frontend-4
ExecStartPre=-/usr/bin/docker rm frontend-4
ExecStartPre=/usr/bin/docker pull coleifer/sqlite-web
ExecStart=/usr/bin/docker run -p 8004:8080 -v /data:/data:ro -e SQLITE_DATABASE=valasztas.sqlite3 --name frontend-4 coleifer/sqlite-web
ExecStop=/usr/bin/docker stop frontend-4

[Install]
WantedBy=multi-user.target
